<!DOCTYPE html>
<html lang="es">
	<head>
		<title><%= @title %></title>
	</head>
  <body>

  	<% if flash[:notice] %>
 		<p class="alert alert-success"><%= flash[:notice] %>
	<% end %>
	<% if flash[:error] %>
 		<p class="alert alert-error"><%= flash[:error] %>
	<% end %>
  	

  	<ul>
   		<li><a href="/">Home</a></li>
   		<li><a href="/posts/create">Nuevo Post</a></li>
	</ul>

    <%= yield %>
    
  </body>
</html>